* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


body {
  padding:10px 10px 100px;
  display: inline-block;
  width: 100%;
  font-family: 'Graphik', sans-serif;
  margin: 0px
}


h1 {
  font-family: 'Tiempos Text', serif;
  font-size: 45px;
  margin: 60px 0px 0px 0px;
  color:#000;
}


h2 {
  font-family: 'Tiempos Text', serif;
  font-size: 40px;
  clear: both;
  margin: 100px 0px 0px;
}

h3 {
  border-top: 2px solid #444;
  font-family: 'Tiempos Text', serif;
  padding: 10px 0px;
  font-weight: bold;
  width: 100%;
  font-size: 1.2em;
  margin-top: 5em;
}


h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px 0px 10px;
  padding: 10px 0px;
  margin: 20px 0px 0px 0px;
  clear: both;
}

h5 {
  font-family: 'Tiempos Text', serif;
  font-size: 1.2em;
  margin:0px;
}


a {
  color: #4A93B4;
  text-decoration: none;
}


a:hover{
  text-decoration: underline;
}

p, li {
  margin:0px;
  font-size: 16px;
  clear: both;
}

p {
  margin: 20px 0px 5px;
}

ul {
  margin-bottom: 0px
}

iframe {
  margin: 20px auto;
  width: 100% !important;
}

#exercise {
  width: 100%;
  max-width: 860px;
  margin: 20px auto
}

#exercise .list p {
  margin: 10px 0px
}

#exercise img {
  width: auto;
  max-width: 100%;
  padding: 10px 50px 20px 0px;
  box-shadow: 2px 3px 10px rgba(0,0,0,.2);
  padding:10px;
  margin:10px 0px;
}

#exercise img.small {
 max-width: 360px;
 width: 100%
}

#exercise img.medium {
 max-width: 450px;
 width: 100%
}


#container {
  line-height: 1.6;
  text-align: left;
  line-height: 1.5;
  padding:0px 0px 50px;
  margin: 0px;
  display: inline-block;
  width: 100%;
}


#container p code {
  margin:5px 0px;
  padding: 4px 5px;
  border: 1px solid #ebebeb;
  background-color: #f7f7f7;
  border-radius: 2px;
  font-family: "Menlo", Courier, monospace;
  font-size: 14px;
  color: #666;
}

li {
  font-size: 15px;
  margin-bottom: 20px;
  list-style-type: none;
  display: inline-block;
}

li span {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .02em;
  width: 100%;
  display: inline-block;
}

li span a {
  background: #65accc;
  color: #fff;
  padding: 4px 7px;
  border-radius: 3px;
  transition: all 0.10s ease-in-out;
 -webkit-transition: all 0.10s ease-in-out;
 -moz-transition: all 0.10s ease-in-out;
 -o-transition: all 0.10s ease-in-out;
}

li span a:hover {
  background: #4A93B4;
  text-decoration: none;
}

li span a:active {
  position: relative;
  top:1px;
}


li div {
  float: left;
}

li div:first-child {
  width: 70%;
  margin-right: 10%
}

li div:last-child {
  width: 20%
}

.intro h2 {
  margin-top: 10px
}



.section div span {
  font-size: 11px;
  margin-left: 5px;
  color: #999;
}


td, th {
  display: table-cell;
  vertical-align: inherit;
}

table td {
  padding: 4px 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #e2e2e2;
  font-size: .9em;
  color:#444;
}

table th {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin:20px auto;
}

.source {
  font-style: italic;
  color:#666;
  font-size: .8em;
  font-weight: bold;
}

  @media (max-width:480px) {

    #container {
      width: 100%;
      padding:10px;
    }

    p {
      margin-top: 10px
    }

    h1, h2 {
      font-size: 30px;
      margin-top: 20px
    }

    li div:first-child {
      width: 100%
    }
    li div:last-child {
      width: 100%;
      margin-top: 10px;
    }

    ul {
      padding: 0px
    }

  }


  @font-face {
  font-family:'graphik';
  src:url("https://static.propublica.org/v3/assets/fonts/Graphik-Regular-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight:normal;
  font-style:normal }

  @font-face {
  font-family:'graphik';
  src:url("https://static.propublica.org/v3/assets/fonts/Graphik-Semibold-Web.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight:bold;
  font-style:normal }


  @font-face {
  font-family:'Tiempos Text';
  src:url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Bold.woff2") format("woff2"),url("https://static.propublica.org/v3/assets/fonts/TiemposTextWeb-Bold.woff") format("woff");
  font-weight:bold;
  font-style:normal }
